#Ignore .o files in the source folder
src/*.o

#Ignore the compiled version
XCubeSat_Controler

#Ignore latex useless files
doc/*.aux 
doc/*.log
doc/*.synctex.gz
doc/*.tex.bak 
doc/*.nav
doc/*.snm

#Ignore databases
dataBase/*.db
